
<header>
    <div id="header2" class="header2-area">
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="header-top-left">
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i><a href=""> +91 734 089 6847 </a></li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="" >info@academics.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu-area" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="logo-area">
                            <a href="/"><img class="img-responsive" src="/img/logo-primary.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <nav id="desktop-nav">
                            <ul>
                                <li class="active"><a href="/admin-dashboard">Home</a>
                                </li>

                                <li><a href="/admin-user">View Users</a></li>

                                <li><a onclick="OpenModal()" >Add User</a></li>

                                <li><a href="/admin-logout">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

