
<header>
    <div id="header3" class="header3-area">
        <div class="main-menu-area" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="logo-area">
                            <a href="/"><img class="img-responsive" src="/img/logo-textprimary.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <nav id="desktop-nav">
                            <ul>
                                <li ><a href="/user-dashboard">Home</a>
                                </li>


                                <li><a href="">Settings</a>
                                    <ul>
                                        <li><a href="/profile">Profile</a></li>
                                        <li><a href="/user-changePassword">Change-Password</a></li>
                                        <li><a href="/user-logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

