<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Document</title>
    <%- include('../Links/HeaderFiles')%>

</head>
<style>
    .error
    {
        color:red
    }

</style>
<body>
<%- include('../Links/UserHeader')%>
<div class="inner-page-banner-area" style="background-image: url('/img/about/1.jpg');">
    <div class="container">
        <div class="pagination-area">
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-5">
        <div class="col-sm-6 offset-lg-3" style="background-color:lightcyan">
            <form class="m-4" id="changeForgotPasswordForm">
                <h2 style="color: saddlebrown;text-align: center">Change Password</h2>
                <label for="oldPassword">Enter New Password</label>
                <input type="password" id="oldPassword" name="oldPassword" required minlength="3" maxlength="8" placeholder="Enter Old Password" class="form-control">
                <br>
                <label for="newPassword">Enter New Password</label>
                <input type="password" id="newPassword" name="newPassword" required minlength="3" maxlength="8" placeholder="Enter New Password" class="form-control">
                <br>
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required minlength="3" maxlength="8" data-rule-equalto="#newPassword" placeholder="Confirm New Password" class="form-control">
                <button type="button" onclick="UserChangePassword()" class="btn btn-primary form-control mt-4 mb-3">Change Password</button>
            </form>
        </div>

    </div>
</div>
<%- include('../Links/Footer')%>
<%- include('../Links/Scripts')%>
<script>
    async function UserChangePassword()
    {
        let current = document.getElementById('oldPassword').value
        let newpass = document.getElementById('newPassword').value
        let confirm = document.getElementById('confirmPassword').value

        if($("#changeForgotPasswordForm").valid()) {

                let url = "/change-password"
                let response = await fetch(url, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({current: current, newpass: newpass, confirm: confirm})
                })
                //console.log({name:name,email:email,password:password})
                response = await response.json();
                //console.log(response)
                if (response.error !== "") {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: (response.error),
                    });
                } else {
                    //console.log("success")
                    document.getElementById('changeForgotPasswordForm').reset()

                    Swal.fire({
                        title: "Good job!",
                        text: (response.message),
                        icon: "success"
                    })
                }
            }
    }

</script>
</body>
</html>