<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .error
        {
            color: red;
        }
    </style>
    <%- include('../Links/HeaderFiles.ejs')%>

</head>
<body>
<%- include('../Links/Header')%>

<div class="inner-page-banner-area" style="background-image: url('/img/about/1.jpg');">
    <div class="container">
        <div class="pagination-area">
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-5">
        <div class="col-sm-6 offset-lg-3" style="background-color:lightcyan">
            <form class="m-4" id="forgotPasswordForm">
                <h2 style="color: saddlebrown;text-align: center">Forgot Password</h2>
                <label for="email">Enter Email</label>
                <input type="email" id="email" name="email" required placeholder="Enter Email" class="form-control">
                <br>
                <label for="otp" id="lb" style="display: none">Enter OTP</label>
                <input type="password" id="otp" name="otp" required placeholder="Enter OTP" style="display: none" class="form-control">
                <button type="button" id="btn1" onclick="GetOtp()" class="btn btn-primary form-control mt-4 mb-3">Get OTP</button>
                <button type="button" id="btn2" onclick="VerifyOtp()" class="btn btn-primary form-control mt-4 mb-3" style="display: none">Verify OTP</button>
            </form>
        </div>

    </div>
</div>
<%- include('../Links/Footer.ejs')%>
<%- include('../Links/Scripts.ejs')%>

<script>
    async function GetOtp()
    {
        if($("#forgotPasswordForm").valid()) {
            let email = document.getElementById("email").value
            let url="/userForgotPassword"
            let response=await fetch(url,
                {
                    method:"Post",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({email:email})
                })
            response=await response.json()
            if(response.error!=="")
            {
                Swal.fire({
                    icon: "error",
                    title: response.error,
                    showConfirmButton: false,
                    timer: 3000
                });
            } else {
                Swal.fire({
                    icon: "success",
                    title: response.message,
                    showConfirmButton: true,
                }).then(()=>{
                    document.getElementById("otp").style.display = "block"
                    document.getElementById("btn1").style.display = "none"
                    document.getElementById("btn2").style.display = "block"
                    document.getElementById("email").disabled=true
                })

            }
        }
    }
    async function VerifyOtp()
    {
        if($("#forgotPasswordForm").valid()) {

            let email = document.getElementById("email").value
            let otp = document.getElementById("otp").value
            let url="/userVerifyOtp"
            let response=await fetch(url,
                {
                    method:"Post",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({otp:otp,email:email})
                })
            response=await response.json()
            if(response.error!=="")
            {
                Swal.fire({
                    icon: "error",
                    title: response.error,
                    showConfirmButton: false,
                    timer: 3000
                });
            } else {
                Swal.fire({
                    icon: "success",
                    title: response.message,
                    showConfirmButton: true,
                })
                .then(()=>{
                    localStorage.setItem("userEmail", email)
                    window.location.href='/userChangeForgotPassword'
                })
            }
        }
    }
</script>
</body>
</html>